ul{
    font-size: 20px;
}
.header{
    height: 100 px;
    background-color:lightpink;
    text-align: center;
    line-height: 50px;
    color: white;
    right: 5px;
    left: 5px;
}
.mainbody{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.bullets{
    font-size: 20px;
}
.footer{
    height:25px;
    font-size: 15px;
    padding-top: 15px;
    background-color: burlywood;
    color: black;
    bottom: 0px;
    right: 5px;
    left: 5px;
    position: fixed;
    text-align: center;
}
body{
    background-color:whitesmoke;
}